*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container {
   max-width: 1200px;
    margin: 0 auto;
}

.header {
   padding:25px 0;
    border-bottom:1px solid #46A35880;
}

.logo,
nav,
.login{
    display:inline-block;
    vertical-align:middle;
}

nav{
    width:58%;
    text-align:center;
}

nav ul{
    list-style:none;
}

nav li{
    display:inline-block;
    margin-right:40px;
}

nav li:last-child{
    margin-right:0;
}

nav a{
    text-decoration:none;
    color:#3D3D3D;
    padding-bottom:25px;
}

nav a.active{
    color:#3D3D3D;
    font-weight:700;
    border-bottom:3px solid #46A358;
}


.hero {
 background-color: #F5F5F580;
  margin-top: 12px;
  padding: 40px;

}

.wrapper,
.image {
 display: inline-block;  
 width: 49%;
 max-width: 557px;
}

.wrapper {
    vertical-align: top;
    margin-top: 50px;
}

.main-title {
font-family: Cera Pro;
font-weight: 900;
font-size: 70px;
leading-trim: NONE;
line-height: 70px;
letter-spacing: 0%;
text-transform: uppercase;
}

.image {
   text-align: right;
}

button{
    width: 100px;
    height: 35px;
    background:#46A358;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.login img{
    vertical-align: middle;
    margin-right: 6px;
}
.login{
    vertical-align: middle;
}

.shop-btn {
 width:140px;
    height:40px;
    font-size:16px;
    font-weight:700;
}

.hero-subtitle{
    font-size:14px;
    font-weight:500;
    letter-spacing:2px;
    text-transform:uppercase;
    color:#3D3D3D;
    margin-bottom:8px;
}

.main-title span{
    color:#46A358;
}
____________________________________________Start Login______________________________________________

.form {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.form.submit-btn {
    background-color: #46A358;
}
.form label,
.form input,
.form button {
    width: 100%;
}

.form input {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    margin-bottom: 16px;
    padding: 14px 14px;

    font-family: Cera Pro;
    font-weight: 400;
    font-size: 14px;
    leading-trim:NONE;
    line-height: 16px;
    letter-spacing: 0;

}

________________________________HW7___________________________________

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro/CeraPro-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro/CeraPro-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro/CeraPro-Bold.woff") format("woff");
    font-weight: 700;
}

body {
    font-family: "Cera Pro", sans-serif;
}


.shop {
    margin-top: 50px;
    font-size: 0;
}

.categories {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 230px;
    min-height: 900px;
    padding: 14px 18px;
    background-color: #fbfbfb;
}

.categories h3 {
    margin: 0 0 20px;
    color: #3d3d3d;
    font-size: 18px;
    font-weight: 700;
}

.categories ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.categories li {
    margin-bottom: 18px;
}

.categories a {
    color: #3d3d3d;
    font-size: 15px;
    text-decoration: none;
}

.sale {
    margin: 0 -18px ;
    margin-top: 500px;
    background-color: #edf7ee;
    text-align: center;
}

.sale h2 {
    margin: 0;
    color: #46a358;
    font-size: 30px;
    font-weight: 700;
}

.sale p {
    margin: 5px 0 15px;
    color: #3d3d3d;
    font-size: 14px;
    font-weight: 700;
}

.sale img {
    display: block;
    width: 95%;
    margin: 0 auto;
    background-color: transparent;
}

.products {
    display: inline-block;
    vertical-align: top;
    width: 840px;
    margin-left: 45px;
    font-size: 16px;
}

.products-top {
    margin-bottom: 30px;
}

.product-tabs {
    display: inline-block;
    vertical-align: middle;
}

.product-tabs a {
    display: inline-block;
    margin-right: 30px;
    padding-bottom: 8px;
    color: #3d3d3d;
    font-size: 16px;
    text-decoration: none;
}

.product-tabs .active-tab {
    color: #46a358;
    font-weight: 500;
    border-bottom: 2px solid #46a358;
}

.sorting {
    float: right;
    font-size: 14px;
}

.sorting span {
    font-size: 14px;
}

.sorting select {
    border: none;
    outline: none;
    background: transparent;
    color: #3d3d3d;
    font-size: 14px;
}
.product-list {
    font-size: 0;
}

.product-card {
    display: inline-block;
    vertical-align: top;
    width: 224px;
    margin-right: 24px;
    margin-bottom: 45px;
    font-size: 16px;
}

.product-card:nth-child(3n) {
    margin-right: 0;
}

.product-image {
    width: 224px;
    height: 286px;
    text-align: center;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.product-card h3 {
    margin: 10px 0 5px;
    color: #3d3d3d;
    font-size: 15px;
    font-weight: 400;
}

.product-card p {
    margin: 0;
    color: #46a358;
    font-size: 15px;
    font-weight: 700;
}

.pagination {
    margin-top: 5px;
    padding-bottom: 40px;
    text-align: right;
}

.pagination a {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-left: 5px;
    color: #3d3d3d;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
}

.pagination .current {
    border-radius: 4px;
    background-color: #46a358;
    color: white;
}